<% include head_begin.ejs %>
<link rel="stylesheet" href="/unify/plugins/font-awesome/css/font-awesome.min.css">
<% include head_end.ejs %>
<script src="http://cdn.pubnub.com/pubnub.min.js"></script>
<script src="/js/vv_pubnub.js"></script>
<script src="/js/vv_sync.js"></script>
<script src="/js/vv_misc_ui.js"></script>
<script src="/js/vv_chat.js"></script>
<script src="http://simplewebrtc.com/latest.js"></script>

<script>
    _gaq.push(['_setCustomVar',
        1,
        'IsAgent',
        '<%= isAgent %>',
        3 // page level
    ]);
    _gaq.push(['_setCustomVar',
        2,
        'AgentId',
        '<%= agent._id %>',
        3 // page level
    ]);
    _gaq.push(['_trackEvent',
        'tour', // category of activity
        'pageview' // Action
    ]);
</script>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="agent_photo">
                <img alt="<%= agent.name %>" src="<%= agent.photoURL %>">
            </div>
            <div class="agent_name_box">
                <div class="agent_name">
                    <%= agent.name %>
                </div>
                <div class="agent_agency">
                    <%= agent.agency || 'Video tour' %>
                </div>
                <div class="agent_phone">
                    <i class="fa fa-phone"></i> <%= agent.phone || '' %>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="property_address_box">
                <div class="property_address">
                    <%= property.address %>
                </div>
                <a target="_blank" href="https://www.google.com/maps/place/<%= mapQuery %>">View on map</a>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-9 video_section panel-body">
            <% if (isAgent) { %>
            <div><%= agent.name %>, you are the presenter.</div>

            <div>Once they open the page, you can start your guided tour using video + your phone
                (or a voice chat widget on the page, if supported and desired). You can pause and seek to any point in
                the video, and
                your client's video will synchronize automatically.
            </div>
            <br>
            <% } else { %>
            <div> <%= agent.name %> is controlling the playback, please ask them to pause or rewind if necessary. Thank
                you.
            </div>
            <br>
            <% } %>

            <% if(property.playerType == 'flowplayer'){ %>
            <% include player/flowplayer.ejs %>
            <% } %>

        </div>
        <div class="col-md-3">
            <div class="chat_box funny-boxes funny-boxes-left-green">
                <div class="voice_chat alert alert-success">
                    Voice chat activated. Feel free to talk with your agent.
                </div>
                <video id="local_video"></video>
                <div id="remote_video"></div>
                <div class="chat_output_panel">
                    <div id="chat_output" class="panel-body" style="display: none;">
                    </div>
                </div>

                To send a chat message, type and press Enter:
                <div><input id="chat_input" placeholder="enter chat message"/></div>
            </div>
        </div>
    </div>
    <% if (isAgent) { %>
    <div class="row">
        <div class="col-md-6">
            <div class="btn  btn-primary send_tour">
                <i class="fa fa-envelope-o"></i>Send tour to client
            </div>
        </div>
        <div class="col-md-6">

            <div class="form-group">
                <label for="tour_select">Switch to another tour:</label>
                <select class="form-control" id="tour_select" name="tour">
                    <% for (var i = 0; i < allProperties.length;i++) { %>
                    <option value="<%= allProperties[i]._id %>"

                            <% if (property._id.toHexString() === allProperties[i]._id.toHexString()) { %>
                            selected="selected"
                            <% } %>

                            > <%= allProperties[i].address %> </option>
                    <% } %>
                </select>
            </div>

        </div>
    </div>
    <% } %>
</div>
<script>
    // global needed to be set before onLoad stuff happens
    // TODO: remove this global, and set this asynchronously, and registration should happen lazily when this is set.
    var vv_pubnub_room_id = "SyncVideo" + "<%= property._id %>";

    $(function () {

        var jqDiv = $(".fplayer");
        jqDiv.flowplayer({
            errors: ['', 'Video loading aborted', 'Network error',
                'Video not properly encoded', 'Video file is optimizing for web now, wait two minutes and reload a page'],
            disabled: <%= !isAgent %>
        });
        var flplayer = flowplayer(jqDiv);

        <% if(!isAgent){%>
        jqDiv.find('.fp-controls').hide();
        <%}%>
        var wrapper = new SyncWrapper(flplayer);
        videoSync(true, wrapper, <%= isAgent %>,
                function (presenterTS) {
                    $("#video_alert").html("<h3>Another presenter became active, this session is no longer controlling playback.  If you refresh this browser window, or switch to another tour from here, you will regain control.</h3>");
                }, null
        );

        try {
            var webrtc = new SimpleWebRTC({
                localVideoEl: 'local_video',
                remoteVideosEl: 'remote_video',
                autoRequestMedia: true,
                media: {
                    video: false,
                    audio: true
                }
            });

            webrtc.on('readyToCall', function () {
                webrtc.joinRoom('VizzitRTC<%= property._id %>');
                $('.voice_chat').show();
            });
        }
        catch (e) {
        }

        // React to tour change:
        vvzzt.ui.tourSwitchRegistration("#tour_select", 'tour');

        <% include text_chat.ejs %>

        $('.send_tour').on('click', function () {
            var clientMail = prompt('Enter client email');
            $.ajax({
                type: 'POST',
                url: '/tour/<%= property._id %>/share',
                data: {
                    email: clientMail
                },
                success: function () {
                    alert('Tour invitation sent.');
                },
                error: function () {
                    alert('Tour invitation could not be sent due to error.  Please copy the URL address from the browser and send manually.');
                }
            });
        });
    });

</script>
<% include foot.ejs %>