<% include head.ejs %>
<div class="container">
    <h1><%= agent.agency || 'Video tour' %></h1>

    <div class="row">
        <div class="col-md-4">
            <div class="agent_photo">
                <img alt="<%= agent.name %>" src="<%= agent.photoURL %>">
            </div>
            <div class="agent_name">
                <%= agent.name %>
            </div>
            <iframe
                    class="property_map"
                    frameborder="0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAEYY3qtKKd89MjKVea6ysS4OsJyscK2XE&q=<%= mapQuery %>">
            </iframe>
            <div class="property_address">
                <%= property.address %>
            </div>
        </div>
        <div class="col-md-8">
            <% if (isPresenting) { %>
            <div><%= agent.name %>, you are the presenter.</div>
            <br>
            <% } %>
            <% if(property.playerType == 'vimeo'){ %>
            <iframe id="tour_player" src="//player.vimeo.com/video/<%= property.videoID %>?api=1&player_id=tour_player" width="800" height="450"
                    frameborder="0" webkitallowfullscreen
                    mozallowfullscreen allowfullscreen></iframe>
            <% } %>
        </div>
    </div>

</div>

<script type="application/javascript" src="//f.vimeocdn.com/js/froogaloop2.min.js"></script>
<script src="http://cdn.pubnub.com/pubnub.min.js"></script>
<script src="/js/vimeo_vsync.js"></script>

<script>
    $(function () {
        var iframe = $('#tour_player')[0];
        var player = $f(iframe);
        videoSync("SyncVideo" + "<%= property._id %>", player, <%= isPresenting %>);

    });
</script>

<% include foot.ejs %>