<% include head_begin.ejs %>
<% include head_end.ejs %>
<script src="/js/vv_misc_ui.js"></script>

<div class="container ptl">
    <div class="row">
        <div class="col-md-8">
            <div class="row tour_table_header">
                <div class="col-md-2">
                    <div class="tour_table_h1">
                        Videos
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tour_table_subh">
                        Information
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="tour_table_subh">
                        Date
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
            </div>

            <% for (var i = 0; i < tours.length;i++){ %>
            <div class="row tour_table_row">
                <div class="col-md-2">
                    <% if (tours[i].hasThumb) { %>
                    <a href="/video/<%= tours[i]._id %>">
                        <img class="tour_thumb" alt="Thumbnail"
                             src="<%= "http://cdn.virtualvizzit.com/" + tours[i].videoID +
                             "-thumb-00001.png" %>">
                    </a>

                    <% } %>
                </div>
                <div class="col-md-4">
                    <div class="tour_address">
                        <a href="/video/<%= tours[i]._id %>"><%= tours[i].address %></a>
                    </div>
                    <% if(tours[i].beds || tours[i].baths || tours[i].price){ %>
                    <div class="tour_info">
                        <% if(tours[i].beds) { %>
                        <%= tours[i].beds %> bd
                        <% } %>
                        <% if(tours[i].beds && tours[i].baths) { %>
                        &bull;
                        <% } %>
                        <% if(tours[i].baths) { %>
                        <%= tours[i].baths %> ba
                        <% } %>
                        <% if(tours[i].price) { %>
                        <%= tours[i].price %>$
                        <% } %>
                    </div>
                    <% } %>
                    <% if (tours[i].landlord) { %>
                    <div class="tour_landlord">
                        Landlord: <%= tours[i].landlord %>
                    </div>
                    <% } %>
                </div>
                <div class="col-md-2">
                    <div class="tour_date">
                        <% if (tours[i].creationDate) { %>
                        <%= tours[i].creationDate.toDateString() %>
                        <% } %>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="tour_action">
                        <a class="btn btn-primary" href="/tour/<%= tours[i]._id %>/edit">edit</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="tour_action">
                        <a class="btn btn-danger"
                           onclick='vvzzt.ui.followURLAfterConfirm("Are you sure you want to delete " + "<%= tours[i].address %>" + "?",
                                   "/tour/<%= tours[i]._id %>/del")'>delete</a>
                    </div>
                </div>
            </div>
            <% } %>

        </div>
        <div class="col-md-4">
            <a href="/upload"><img src="/img/upload_button.gif"/></a>
        </div>
    </div>

</div>
<% include foot.ejs %>