<% include head.ejs %>
<script src="http://cdn.pubnub.com/pubnub.min.js"></script>
<script src="/js/video_sync.js"></script>
<script src="http://simplewebrtc.com/latest.js"></script>

<script>
    _gaq.push(['_setCustomVar',
        1,
        'IsPresenter',
        '<%= isPresenting %>',
        3 // page level
    ]);
    _gaq.push(['_setCustomVar',
        2,
        'AgentId',
        '<%= agent._id %>',
        3 // page level
    ]);
    _gaq.push(['_trackEvent',
        'tour', // category of activity
        'pageview', // Action
    ]);
</script>

<div class="container">
    <h1><%= agent.agency || 'Video tour' %></h1>

    <div class="row">
        <div class="col-md-4">
            <div class="agent_photo">
                <img alt="<%= agent.name %>" src="<%= agent.photoURL %>">
            </div>
            <div class="agent_name">
                <%= agent.name %>
            </div>
            <iframe
                    class="property_map"
                    frameborder="0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAEYY3qtKKd89MjKVea6ysS4OsJyscK2XE&q=<%= mapQuery %>">
            </iframe>
            <div class="property_address">
                <%= property.address %>
            </div>
        </div>
        <div class="col-md-8">
            <% if (isPresenting) { %>
            <div><%= agent.name %>, you are the presenter.  Please share this page's full address with you client via email or text message.  Once they open the page, you can start your guided tour using video + your phone 
                (or a voice chat widget on the page, if supported and desired). You can pause and seek to any point in the video, and
                your client's video will synchronize automatically.
            </div>
            <br>
            <% } else { %>
            <div> <%= agent.name %> is controlling the playback, please ask them to pause or rewind if necessary. Thank
                you.
            </div>
            <br>
            <% } %>
            <% if(property.playerType == 'vimeo'){ %>
            <% include player/vimeo.ejs %>
            <% } %>

            <% if(property.playerType == 'flowplayer'){ %>
            <% include player/flowplayer.ejs %>
            <% } %>
            <div class="row">
                <div class="col-md-6">
                    <div class="voice_chat alert alert-success">
                        Voice chat activated. Feel free to talk with your agent.
                    </div>
                    <video id="local_video"></video>
                </div>
                <div class="col-md-6">
                    <div id="remote_video"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var webrtc = new SimpleWebRTC({
        localVideoEl: 'local_video',
        remoteVideosEl: 'remote_video',
        autoRequestMedia: true,
        media: {
            video: false,
            audio: true
        }
    });

    webrtc.on('readyToCall', function () {
        webrtc.joinRoom('VizzitRTC<%= property._id %>');
        $('.voice_chat').show();
    });
</script>
<% include foot.ejs %>