<% include head_begin.ejs %>
<% include head_end.ejs %>
<script src="/js/vv_misc_ui.js"></script>

<div class="container ptl">
    <div class="row">
        <div class="col-md-8">
            <div class="row tour_table_header">
                <div class="col-md-2">
                    <div class="tour_table_h1">
                        Videos
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tour_table_subh">
                        Information
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="tour_table_subh">
                        Date
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
            </div>

            <% for (var i = 0; i < tours.length;i++){ %>
            <div class="row tour_table_row">
                <div class="col-md-2">
                    <% if (tours[i].hasThumb) { %>
                    <a href="<%= "http://cdn.virtualvizzit.com/" + tours[i].videoID + "-thumb-00001.png" %>">
                        <img class="tour_thumb" alt="Thumbnail"
                             src="<%= "http://cdn.virtualvizzit.com/" + tours[i].videoID +
                             "-thumb-00001.png" %>">
                    </a>
                    <% } %>
                </div>
                <div class="col-md-4">
                    <a href="/video/<%= tours[i]._id %>"><%= tours[i].address %></a>

                    <div class="tour_note"><%= tours[i].note %></div>
                    <div class="tour_note"><%= tours[i].group || '' %></div>
                </div>
                <div class="col-md-2">
                    <% if (tours[i].creationDate) { %>
                    <%= tours[i].creationDate %>
                    <% } %>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-primary" href="/tour/<%= tours[i]._id %>/edit">edit</a>
                    <% if (tours[i].uploadToken) { %>
                    <a class="btn btn-primary"
                       href="/tour/<%= tours[i]._id %>/upload_via_token/<%= tours[i].uploadToken %>">upload link</a>
                    <% } %>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-danger"
                       onclick='vvzzt.ui.followURLAfterConfirm("Are you sure you want to delete " + "<%= tours[i].address %>" + "?",
                               "/tour/<%= tours[i]._id %>/del")'>delete</a>
                </div>
            </div>
            <% } %>

        </div>
        <div class="col-md-4">
            <a href="/upload"><img src="/img/upload_button.gif"/></a>
        </div>
    </div>

</div>
<% include foot.ejs %>