<% include head_begin.ejs %>
<script src="http://malsup.github.com/jquery.form.js"></script>
<% include head_end.ejs %>
<script>
    _gaq.push(['_setCustomVar',
        1,
        'IsSuperuser',
        '<%= agent.superuser %>',
        3 // page level
    ]);
    _gaq.push(['_setCustomVar',
        2,
        'AgentId',
        '<%= agent._id %>',
        3 // page level
    ]);
    _gaq.push(['_trackEvent',
        'tour', // category of activity
        'pageview', // Action
    ]);
</script>

<script src="/js/vv_misc_ui.js"></script>

<div class="container">
    <br>

    <div>
        Agent: <%= agent.name %>
    </div>


    <h1>Add video:</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="formbox">
                <form action="/tour" method="post" id="tour_form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="videofile_input">Video file:</label>
                        <input type="file" class="form-control" id="videofile_input" name="videoFile"/>
                    </div>
                    <div class="form-group">
                        <label for="address_input">Address:</label>
                        <input type="text" class="form-control" id="address_input" name="address"/>
                    </div>
                    <div class="form-group">
                        <label for="note_input">Agent note's:</label>
                        (prospective tenants will not see it)
                        <input type="text" class="form-control" id="note_input" name="note"/>
                    </div>
                    <div class="form-group">
                        <label for="group_input">Group:</label>
                        (Videos in the same group will be referenced on the same page)
                        <input type="text" class="form-control" id="group_input" name="group"/>
                    </div>

                    <% if (agent.superuser) { %>
                    <div class="form-group">
                        <label for="agent_select">Agent:</label>
                        <select class="form-control" id="agent_select" name="agent">
                            <% for (var i = 0; i < agents.length;i++) { %>
                            <option value="<%= agents[i]._id %>"

                                    <% if (agent._id.toHexString() === agents[i]._id.toHexString()) { %>
                                    selected="selected"
                                    <% } %>

                                    > <%= agents[i].name %> </option>
                            <% } %>
                        </select>
                    </div>
                    <% } else { %>
                    <input type="hidden" name="agent" value="<%= agent._id %>">
                    <% } %>

                    <div class="form-group">
                        <div class="progress">
                            <div class="progress-bar" style="width: 0;">
                                0%
                            </div>
                        </div>
                        <input type="submit" value="Submit" class="submit_tour btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        $(function () {
            _gaq.push(['_trackEvent',
                'tour', // category of activity
                'submit_new', // Action
            ]);

            var jqTourForm = $('#tour_form');
            var bar = $('.progress-bar');

            var formOptions = {
                beforeSubmit: function () {
                    $('.progress').show();
                },
                success: function () {
                    document.location.reload(true);
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal)
                    bar.html(percentVal);
                }
            };

            jqTourForm.ajaxForm(formOptions);
        });
    </script>


    <h1>All videos:</h1>

    To present a tour to your client, please click on the link below. Once that page opens, share its full address with
    your client via email or text message.

    <table class="table table-hover">
        <thead>
        <tr>
            <td></td>
            <td>Address</td>
            <td>Note</td>
            <td>Group</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < tours.length;i++){ %>
        <tr>
            <td>
              <% if (tours[i].hasThumb) { %>
              <a href="<%="http://cdn.virtualvizzit.com/"+ tours[i].videoID+"-thumb-00001.png"%>">
                <img class="tour_thumb" alt="Thumbnail" src="<%="http://cdn.virtualvizzit.com/"+ tours[i].videoID+
                "-thumb-00001.png"%>">
              </a>
              <% } %>
            </td>
            <td><a href="/video/<%= tours[i]._id %>"><%= tours[i].address %></a></td>
            <td><div class="tour_note"><%= tours[i].note%></div></td>
            <td><div class="tour_note"><%= tours[i].group || ''%></div></td>
            <td><a class="btn btn-primary" href="/tour/<%= tours[i]._id %>">open guided</a></td>
            <td><a class="btn btn-primary" href="/tour/<%= tours[i]._id %>/edit">edit</a></td>
            <td><a class="btn btn-danger"
                   onclick='vvzzt.ui.followURLAfterConfirm("Are you sure you want to delete " + "<%= tours[i].address %>" + "?",
                           "/tour/<%= tours[i]._id %>/del")'>delete</a></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
<% include foot.ejs %>