<% include head_begin.ejs %>
<script src="http://malsup.github.com/jquery.form.js"></script>
<% include head_end.ejs %>
<div class="container">
    <h1>Dear current tenant at <%= tour.address %></h1>

    <div>
      <p>You&rsquo;ve landed on this page because, you&rsquo;re moving out soon and want to have less intrusive visits by prospective tenants. We&rsquo;re working on a platform to virtualize simple cell phone videos, that on average have shown to reduce such visits by more than 2/3. In other words, as a new tenant, you can watch a video to REJECT, and only visit one or two to RENT. </p>
      
      <p>This is a brand new concept that we hope will revolutionize the rental market and add to the sharing economy. BTW, your home will not be openly published, and only shown to a few prequalified prospective tenants, who would otherwise show up anyway.</p>
      
      <p>If interested, please watch <a href="/video/54f8bbb78415cfd440b897d2">this sample video</a> taken, by one of our current tenants. </p>
      
      <p>Then to take your video,  
        <br>1. Make sure your place is well lit, preferably in day time. 
        <br>2. Hold your phone horizontally, slowly slowly, and start at the entrance door.  
        <br>3. Narrate what we are looking at. Make it fun to watch; Surprise us ;). 
        <br>4. Spend a bit more time to detail the kitchen, closets, and bathroom 
        <br>5. Make it between 1 and 3 minutes long.
      </p>
      
      <p>Then just use the button below, right from your phone to upload.</p>
      
      <p>Thanks for helping us make renting process less stressful.</p>
    </div>


    <div class="row">


        <div class="col-md-4">
            <div class="formbox_nomargin">
                <form action="/tour/<%=tour._id.toHexString() %>/upload_via_token/<%=tour.uploadToken %>/<%=tour.agent %>" id="tour_form" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label for="videofile_input">Video file:</label>
                        <input type="file" class="form-control" id="videofile_input" name="videoFile"/>
                    </div>
                    
                    <div class="form-group">
                        <div class="progress">
                            <div class="progress-bar" style="width: 0;">
                                0%
                            </div>
                        </div>
                    
                        <input type="submit" class="btn btn-success" value="Submit"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

    <script type="application/javascript">
        $(function () {
            _gaq.push(['_trackEvent',
                'tour', // category of activity
                'submit_via_token', // Action
            ]);

            var jqTourForm = $('#tour_form');
            var bar = $('.progress-bar');

            var formOptions = {
                beforeSubmit: function () {
                    $('.progress').show();
                },
                success: function () {
                    document.location = "/video/<%=tour._id.toHexString() %>";
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal)
                    bar.html(percentVal);
                }
            };

            jqTourForm.ajaxForm(formOptions);
        });
    </script>

<% include foot.ejs %>