<% include head_begin.ejs %>
<!--<script src="http://cdn.pubnub.com/pubnub.min.js"></script>-->
<!--<script src="/js/vv_pubnub.js"></script>-->
<script src="/js/vv_misc_ui.js"></script>


<% include head_end.ejs %>


<div class="container">
    <div class="row row-big-top-margin">

        <div class="col-md-8">
            <% if (agentInteractive) { %>
            <div class="tenant_info">Your client currently on:
                <div class="inline tenant_time"></div>
                sec of video
                <a class="jump_to">Sync my player</a>

                <div>
                    <input type="checkbox" class="always_sync"/> Keep in sync
                </div>
            </div>
            <% } %>
            <div class="video_box">
                <% if(property.playerType == 'flowplayer'){ %>
                <% include player/flowplayer.ejs %>
                <% } %>
                <% if(property.playerType == 'youtube'){ %>
                <% include player/youtube.ejs %>
                <% } %>
                <% if(property.beds || property.baths || property.price || property.area){ %>
                <div class="property_info_box">
                    <div class="property_beds_baths">
                        <% if(property.beds) { %>
                        <%= property.beds %> bd
                        <% } %>
                        <% if(property.beds && property.baths) { %>
                        &bull;
                        <% } %>
                        <% if(property.baths) { %>
                        <%= property.baths %> ba
                        <% } %>
                    </div>
                    <% if (property.price) { %>
                    <div class="property_price">
                        $<%= property.price %>
                    </div>
                    <% } %>
                    <div>
                        <% if(property.area) { %>
                        <%= property.area %>
                        <% } %>
                    </div>
                </div>
                <% } %>
                <% if (property.description) { %>
                <div class="property_description">
                    <%= property.description %>
                </div>
                <% } %>
            </div>
            <% if (mapQuery){ %>
            <div class="property_map video_box">
                <iframe width="309" height="270" frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?q=<%= mapQuery %>&key=AIzaSyDxE2Y_1DjF7alNc_xW9SVjWJsBn_7DdCc"></iframe>
            </div>
            <% } %>
            <br>
            <% if(isAgent){ %>
            <div>
                <%= property.note %>
            </div>
            <% } %>
            <div class="row">
                <% if (otherGroupProperties.length > 0) { %>

                <div class="col-md-6">
                    Tours of other similar properties:
                    <% for (var i = 0; i < otherGroupProperties.length;i++) { %>
                    <div>


                        <a href="<%= "/video/" + otherGroupProperties[i]._id %>"> <%= otherGroupProperties[i].address %></a>
                    </div>
                    <% } %>
                </div>
                <% } %>
            </div>

        </div>
        <div class="col-md-4">
            <div class="action_box">
                <div class="agent_info">
                    <div class="agent_photo">
                        <img alt="<%= agent.name %>" src="<%= agent.photoURL %>">
                    </div>

                    <div class="agent_name_box">
                        <div class="agent_name">
                            <%= agent.name %>
                        </div>
                        <div class="agent_agency">
                            <%= agent.agency || 'Video tour' %>
                        </div>
                        <div class="agent_phone">
                            <i class="fa fa-phone"></i> <%= agent.phone || '' %>
                        </div>
                    </div>
                </div>

                <div class="mtm">
                    <div class="name_input">
                        <input type="text" placeholder="Name"/>

                        <div class="icon_box">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="email_input">
                        <input type="text" placeholder="Email"/>

                        <div class="icon_box">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                    </div>
                    <div class="phone_input">
                        <input type="text" placeholder="Phone"/>

                        <div class="icon_box icon_phone">
                            <i class="fa fa-phone"></i>
                        </div>
                    </div>
                    <textarea class="message_input"
                              placeholder="Your message for agent"></textarea>
                    <div class="contact_submit"></div>
                </div>

            </div>
            <% if (isAgent) { %>
            <div class="row">
                <div class="col-md-12 ptl">
                    <div class="btn  btn-primary send_tour">
                        <i class="fa fa-envelope-o"></i>Send to client
                    </div>
                    <div class="btn  btn-primary buddy_tour">
                        <i class="fa fa-envelope-o"></i>Copy to another agent
                    </div>
                </div>
                <div class="col-md-12">
                    <% if (agentInteractive) { %>
                    <div class="form-group">
                        <label for="tour_select">Switch to another tour:</label>
                        <select class="form-control" id="tour_select" name="tour">
                            <% for (var i = 0; i < allProperties.length;i++) { %>
                            <option value="<%= allProperties[i]._id %>"

                                    <% if (property._id.toHexString() === allProperties[i]._id.toHexString()) { %>
                                    selected="selected"
                                    <% } %>

                                    > <%= allProperties[i].address %> </option>
                            <% } %>
                        </select>
                    </div>
                    <% } %>

                </div>
            </div>
            <% } %>
        </div>
    </div>

</div>
<script type="application/javascript">
    // global needed to be set before onLoad stuff happens
    // TODO: remove this global, and set this asynchronously, and registration should happen lazily when this is set.
    var vv_pubnub_room_id = "SyncVideo" + "<%= property._id %>";

    $(function () {
        <% if (!isAgent || agentInteractive) { %>

        vvzzt.ui.tourSwitchRegistration("#tour_select", 'video');

        <% } %>

        var jqDiv = $(".fplayer");
        jqDiv.flowplayer({
            errors: ['', 'Video loading aborted', 'Network error',
                'Video not properly encoded', 'Video file is optimizing for web now, wait two minutes and reload a page']
        });
        var flplayer = flowplayer(jqDiv);

       // var playerWrapper = new SyncWrapper(flplayer);

        <% if(isAgent){ %>

        //var jqHeartBeat = $('.tenant_time');
        //var jqJumpTo = $('.jump_to');


        //jqJumpTo.on('click', function () {
        //    playerWrapper.api('seekTo', jqHeartBeat.text())
        //});

        //var jqCheckBox = $('.always_sync');
        //jqCheckBox.on('change', function () {
        //    var isChecked = jqCheckBox.is(':checked');
        //    vvzzt.sync.syncHeartBeat = isChecked;
        //    if (isChecked) {
        //        jqJumpTo.hide();
        //    }
        //    else {
        //        jqJumpTo.show();
        //    }
        //});

        $('.buddy_tour').on('click', function () {
            var agentMail = prompt('Enter agent emails, separated by comma');
            $.ajax({
                type: 'POST',
                url: '/tour/<%= videoID %>/buddy',
                data: {
                    email: agentMail
                },
                success: function () {
                    alert('Tour successfully shared.');
                },
                error: function () {
                    alert('Tour could not be shared due to error.  Please try again.');
                }
            });
        });

        $('.send_tour').on('click', function () {
            var clientMail = prompt('Enter client email');
            $.ajax({
                type: 'POST',
                url: '/video/<%= property._id %>/share',
                data: {
                    email: clientMail
                },
                success: function () {
                    alert('Tour invitation sent.');
                },
                error: function () {
                    alert('Tour invitation could not be sent due to error.  Please copy the URL address from the browser and send manually.');
                }
            });
        });

        <%}%>

        $('.contact_submit').on('click', function () {
            var data = {
                'name': $('.name_input input').val(),
                'agent_email': '<%= agent.email %>',
                'email': $('.email_input input').val(),
                'phone': $('.phone_input input').val(),
                'message': $('.message_input').val()

            };
            $.ajax({
                type: 'POST',
                url: '/video/<%= property._id %>',
                data: data,
                success: function () {
                    alert('Your message send');
                },
                error: function () {
                    alert('Error occurred');
                }
            });
        });


       setTimeout(function () {
            keenClient.addEvent('video_engaged_pageview', {
                'tourID': '<%=property._id %>',
                'sourceAgent': '<%=property.agent %>',
                'browser': navigator.userAgent
            }, function () {
            });
        }, 1600);

    });
</script>

<% include foot.ejs %>
